body {
  background-color: #f5f5f5;
  padding: 20px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 8px;
}

.user-profile {
  margin-left: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.side-menu {
  background-color: #f8f8f8;
  padding: 20px;
  min-height: 500px;
  border-right: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-column {
  width: calc(33.33% - 10px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.task-column button, h4 {
  margin: 10px;
}
#task_todo {
  background-color: #EBECF0;
}

#task_inprog {
  background-color: #FFAB00;
}

#task_done {
  background-color: #36B37E;
}

.task-column h4 {
  margin-top: 0;
  text-align: center;

}

.task-column ul {
  list-style-type: none;
  padding-left: 0;
}

.task-column ul li {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-column ul li:last-child {
  margin-bottom: 0;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-header .task-title {
  text-align: center;
}

.task-header button {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .task-column {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.task {
  background-color: #f3db54;
  margin: 3px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_list {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  display: inline-block;
}

#delete-board-btn {
  background-color: red;
  border-color: red;
}