

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addTaskForm" method="POST" action="{% url 'add_task' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="taskName">Name:</label>
                        <input type="text" class="form-control" id="taskName" name="task_name" required>
                        <label for="taskName">Description:</label>
                        <textarea id="taskDescr" name="task_descr" class="form-control" rows="4" cols="50" required></textarea>
                        <input type="hidden" class="form-control" id="boardID" name="board_id" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
   $(document).ready(function () {
  $('#addTaskForm').submit(function (e) {
    var boardIDInput = document.getElementById('boardID');
    var boardId = window.location.pathname.split('/')[2];
    boardIDInput.value = boardId;
    $('#myModal2').modal('hide');
  });
}); 
</script>