{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Boards</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="banner">
            <div class="dropdown user-profile">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12 side-menu">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a><br><br>
                <a href="{% url 'board_selector' %}" class="btn btn-primary">Change board</a><br><br>
                {% if admin %}
                <h3>Owner Panel:</h3>
                <br><a href="{% url 'delete_board' board_id=board_id %}" id="delete-board-btn"
                    class="btn btn-primary">Delete Board</a>
                {% else %}
                <a href="{% url 'leave_board' board_id=board_id %}" id="delete-board-btn" class="btn btn-primary">Leave
                    Board</a><br>
                {% endif %}
                <br>
                <div class="user-list">
                    {% if admin %}
                    {% if users %}
                    <h4>Users:</h4>
                    <ul>
                        {% for user in users %}
                        <li><a>{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <br><a href="{% url 'add_user' board_id=board_id %}" class="btn btn-primary">Add user</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-10 col-sm-9 col-xs-12 content">
                <div class="task-columns">
                    <div class="task-column" id="task_todo">
                        <div class="task-header">
                            <h4 class="task-title">To do</h4>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addTaskModal">
                                Add Task
                            </button>
                        </div>
                        <div class="task_list" id="task_todo_list">
                            {% for taskd in t_todo %}
                            <div class="task" id="{{ taskd.id }}" draggable="true">{{ taskd.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="task-column" id="task_inprog">
                        <div class="task-header">
                            <h4 class="task-title">In progress</h4>
                        </div>
                        <div class="task_list" id="task_inprog_list">
                            {% for taskd in t_inprog %}
                            <div class="task" id="{{ taskd.id }}" draggable="true">{{ taskd.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="task-column" id="task_done">
                        <div class="task-header">
                            <h4 class="task-title">Done</h4>
                        </div>
                        <div class="task_list" id="task_done_list">
                            {% for taskd in t_done %}
                            <div class="task" id="{{ taskd.id }}" draggable="true">{{ taskd.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "polls/add_task.html" %}
        {% include "polls/update_task.html" %}
        <script src="{% static 'js/board.js' %}"></script>
</body>

</html>